*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  overflow-wrap: break-word;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

button,
input,
textarea,
select {
  font: inherit;
  background-color: transparent;
  cursor: pointer;
  border: 0;
}

ul,
li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

a,
p,
li,
span,
h1,
h2,
h3 {
  color: inherit;
}
